body{
    background-color: black;
    overflow-y: auto;
    
}

.image1{
    width: 55px;
    margin: 5px;
    padding: 5px;
    height: 60px;
}

.hr{  
  width: 500px;
    border-top: 4px solid white;
    border-bottom: none;
}

.center{
    text-align: center;
    margin-bottom: 0px;
}

.w25{
    width: 150px;
    margin: 6px;
}

.w15{
    width: 135px;
    margin: 13px;
}


.mb{
    margin-bottom: 50px;
  
}

.h{
    height: 30px;
}
.m{
    margin: 5px;
    padding: 5px;
}

.black{
    background-color: black;
    color: white;
}

.LB{
    background-color: rgb(39, 38, 38);
}

.w50{
    width: 180px;
  
}
.line{
    color: black;
    width: 920px;
}

.smallimg{
    width: 50px;
}
.gap{
    gap: 23%;
    margin-left: 17%;
    margin-top: 5%;
}