body{
    background-color: black;
     height: 100vh;
  overflow-y: hidden;
    
}

.image1{
    width: 55px;
    margin: 5px;
    padding: 5px;
    height: 60px;
}

.hr{  
    width: 500px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: none;
}

.center{
    text-align: center;
    margin-bottom: 0px;
}

.w25{
    width: 180px;
    margin: 6px;
}

.mb{
    margin-bottom: 50px;
  
}

.h{
    height: 30px;
}
.m{
    margin: 5px;
    padding: 5px;
}

.black{
    background-color: black;
    color: white;
}